<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum architecto expedita nesciunt dolorem ullam asperiores minus aliquam corrupti doloremque iure ducimus delectus maiores facilis, magni harum. Fugit soluta adipisci laborum?</p>
        </ul>
        <ul>
            <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum architecto expedita nesciunt dolorem ullam asperiores minus aliquam corrupti doloremque iure ducimus delectus maiores facilis, magni harum. Fugit soluta adipisci laborum?</p>
        </ul>
        <ul>
            <li><h1>Estudio 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum architecto expedita nesciunt dolorem ullam asperiores minus aliquam corrupti doloremque iure ducimus delectus maiores facilis, magni harum. Fugit soluta adipisci laborum?</p>
        </ul>
    </div>
</div>

